/*footer styling*/
.div1-foot {
    width: auto;
    background-color: rgb(34, 30, 30);
}

.foot-flex {
    color: rgb(243, 234, 234);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    list-style: none;

}

.foot-flex ul {
    list-style: none;
    margin: 10px;
}

.foot-flex li {
    cursor: pointer;
}

.foot-link {

    color: white;
    text-decoration: none;
}